* { box-sizing: border-box; }

body { font-family: sans-serif; }


/* ---- container ---- */

.container {
  background: grey;
}

/* ---- grid ---- */

.grid {
  background: black;
  width: 400px;
  
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 60px;
  height: 50px;
  float: left;
  background: black;
  margin-bottom: 100px;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  border: 3px solid #FFFFFF;

  box-shadow:
        inset 0 0 7px #ffffff,      /* inner white */
        inset 2.5px 0 20px rgba(84, 217,255,0.53),   /* inner left magenta short */
        inset -5px 0 15px rgba(84, 217,255,0.53),  /* inner right cyan short */
        inset 2.5px 0 75px rgba(84, 217,255,0.23),  /* inner left magenta broad */
        inset -10px 0 75px rgba(84, 217,255,0.23), /* inner right cyan broad */
        0 0 7px #fff,            /* outer white */
        -3px 0 20px rgba(84, 217,255,0.93),        /* outer left magenta */
        3px 0 20px rgba(84, 217,255,0.93);         /* outer right cyan */
 
  
}

.grid-item--width2 { width: 40px; }
.grid-item--width3 { width: 20px; }
.grid-item--width4 { width: 30px; }

.grid-item--height2 { height: 20px; }
.grid-item--height3 { height: 40px; }
.grid-item--height4 { height: 60px; }


.grid-item--gigante {
  width: 320px;
  height: 360px;
  z-index: 2; /* above other items */
/*   display: none; */
}

.grid-item:hover {
  background: rgba(150, 210, 255, 0.8);
  border-color: white;
  cursor: pointer;

}

/* Inline row */
#detail {padding: 50px; width: 100%;}
#list {padding: 50px; width: 100%;}

#detail .grid-item {
  width: 400px;
  height: 485px;
}

#detail {
 
}

.profile {
 
  margin-left: 0px;
  margin: 00px;


}

.center-container {
  width: 50%;
  margin: auto;
}

p { color: white;}


.profile-info-description {
   position: absolute;
    top: 50%;
    left: 55%;
}


